@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&display=swap');

:root {
  /* Font */
  --font-base: 'Figtree', sans-serif;

  /* Font-Scale */
  --text-hero: 56px;
  --text-h1: 48px; /*Heading Grandes*/
  --text-h2: 40px; /* Sessões */
  --text-h3: 24px; /* Títulos de cards */
  --text-lg: 20px; /* Subtítulos ou chamadas */
  --text-md: 16px; /* Texto padrão */
  --text-sm: 14px; /* Meta info */

  /* Color */
  --color-text: #000000;
  --color-bg: #ffffff;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-base);
  font-size: var(--text-md);
  line-height: 1.6;
  background-color: var(--color-bg);
  color: var(--color-text);
}





